{* Latte template *}

{block content}
<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

<div id="app">
    <div id="map" style="width:100%">
    </div>    
</div>

<script n:syntax="off">
    
    $(function(){
        
        L.mapbox.accessToken = 'pk.eyJ1Ijoib3Jpb24wNSIsImEiOiJjanRyMDkzOXowamFzNDRrMHdncXgxcXAyIn0._yVPPR8HjK93NIMlRTo5PA';

        var map = L.mapbox.map('map', 'orion05.l3akgdpl')
            .setView([49.937950, 16.047656], 7)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

        var featureLayer = L.mapbox.featureLayer()
            .loadURL('geojson')
            .on('ready', function () {
                featureLayer.eachLayer(function (layer) {

                    var lines = layer.feature.properties.address.split(/\r\n|\r|\n/g);
                    var address = lines.join("<br />");

                    var business_hours = layer.feature.properties.business_hours;
                    var business_hours_table = "<table>";

                    business_hours.forEach(function (value) {
                        business_hours_table += "<tr>";
                        business_hours_table += "<td><strong>" + value[0] + "<strong></td>";
                        business_hours_table += "<td>" + value[1] + "</td>";
                        business_hours_table += "</tr>";
                    });

                    business_hours_table += "</table>";

                    var content = '<h2>' + layer.feature.properties.name + '<\/h2>' +
                        address +
                        business_hours_table;
                        layer.bindPopup(content);
                });
            })
            .addTo(map);
        
            var resize = function(){
                var h = $(window).height() - 25;      
                $("#map").height(h);
                map.invalidateSize();
            };

            resize();
            $(window).resize(resize);
    });
</script>    

